<%= form_for(@blood_center) do |f| %>
  <% if @blood_center.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blood_center.errors.count, "error") %> prohibited this blood_center from being saved:</h2>

      <ul>
      <% @blood_center.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :centerID %><br>
    <%= f.number_field :centerID %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
